@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'amsterdam';
    src: url('/fonts/newamsterdam-regular-webfont.woff2') format('woff2'),
         url('/fonts/newamsterdam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body{
    background: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'american';
}


:root{

    --text-2xl:  180px;
    --text-2xls:   125px;
    --text-xl:   68px;
    --text-lgs:   48px;
    --text-lg:   44px;
    --text-md:   24px;
    --text-sm:   18px;
    --text-base: 16px;
    --text-xs:   12px;

}
  
@media screen and (max-width: 1400px ) {
    :root {
        --text-2xl:  80px;
        --text-2xls:   100px;
        --text-xl:   50px;
        --text-lgs:   38px;
        --text-lg:   38px;
        --text-md:   22px;
        --text-sm:   17px;
        --text-base: 16px;
        --text-xs:   12px;
    }
}
@media screen and (max-width: 991px ) {
    :root {
        --text-2xl:  60px;
        --text-2xls:   75px;
        --text-xl:   48px;
        --text-lgs:   30px;
        --text-lg:   34px;
        --text-md:   20px;
        --text-sm:   17px;
        --text-base: 16px;
        --text-xs:   12px;
    }
}
@media screen and (max-width: 600px ) {
    :root {
        --text-2xl:  42px;
        --text-2xls:   55px;
        --text-xl:   38px;
        --text-lgs:   26px;
        --text-lg:   26px;
        --text-md:   18px;
        --text-sm:   16px;
        --text-base: 16px;
        --text-xs:   12px;
    }
}

.container{
    @apply mx-auto w-full px-[250px] 3xl:px-[120px] 2xl:px-[100px] lg:px-[50px] md:px-5 box-border z-10 relative max-w-[1920px];
}
.grid-row{
    @apply grid-cols-6 gap-x-[20px] md:gap-x-[10px] grid flex-wrap flex-initial;
}